[package]
name = "unix_mode"
version = "0.1.1"
authors = ["Martin Pool <mbp@google.com>"]
edition = "2018"
description = "Decode Unix file mode bits (even on non-Unix platforms)"
license = "Apache-2.0"
repository = "https://github.com/sourcefrog/unix_mode"

[dependencies]
